.contact {
  padding: 40px 20px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact form {
  max-width: 500px;

  min-width: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact form button {
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact form button:hover {
  background-color: #333;
}
/* About Section */
#about {
  padding: 50px 0;
  background-color: var(--white);
  text-align: center;
  color: var(--black);
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}
/* Features Section */
#features {
  padding: 50px 0;
  background-color: var(--yellow);
  text-align: center;
}

#features h2 {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.feature-item {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--shadow);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.feature-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}

.feature-item h3 {
  font-size: 1.5rem;
  color: var(--black);
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  color: #777;
}
.image-placeholder {
  width: 400px;
  height: 200px;
  background-color: #f3f3f3;
  color: #999;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.hero-image .image-placeholder {
  height: 300px; /* Adjust as per your hero image size */
}

.feature-item .image-placeholder {
  height: 64px; /* Adjust as per your feature icons size */
}
